<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="blogs content">
        <h2>About Me</h2> 
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Quisque sit amet magna nisi. Maecenas vitae sapien lorem. 
            Pellentesque in condimentum quam. Integer sodales elit a 
            diam dapibus, a iaculis ligula luctus. Phasellus placerat 
            turpis lacus, non facilisis lacus faucibus a. 
            Proin interdum, urna quis ornare blandit, 
            eros ex porta tortor, et efficitur lectus odio non ex. 
            Nunc maximus ante mi, in vehicula libero tempus ac
        </p>         
    </div> 
    
    <%- include('./partials/footer')%>
</body>
</html>